.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 2rem;

    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.modal p {
    margin-bottom: 10px;
    font-size: 12px;
}

.modal button {
    width: 120px;
    height: 40px;
    border: none;
    background-color: #842622;
    color: white;
    cursor: pointer;
    font-size: 12px;
}