* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageHeader {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;

  margin-bottom: 30px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: bold;
}

.pageBody {
  width: 500px;
}

.logoutButton {
  border: 1px solid #000000;
  background-color: #FFFFFF;
  width: 120px;
  height: 40px;
  font-weight: bold;
}

.logoutButton:hover {
  border: none;
  background-color: #842622;
  color: #FFFFFF;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.loginButton {
  border: 1px solid #000000;
  background-color: #FFFFFF;
  width: 120px;
  height: 40px;
  font-weight: bold;
}

.loginButton:hover {
  border: none;
  background-color: #842622;
  color: #FFFFFF;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.addButtons {
  display: flex;
  align-items: center;
  justify-content: right;

  padding-bottom: 10px;

  gap: 10px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  padding: 20px;

  height: 70px;
  border: 1px solid black;
  border-radius: 5px;
}

.nickname {
  font-weight: bold;
  font-size: 20px;
}

.count {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.followWrap {
  display: flex;
  align-items: center;
  gap: 50px;
}

.follower, .following {
  text-align: right;
}

.addFriends, .addChatRooms, .searchChatRoom {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.chatRoomListTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.tabContainer {
  display: flex;
  margin-bottom: 16px;
  border-bottom: 2px solid #ddd;
}

.tabButton {
  padding: 10px 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.tabButton:hover {
  color: #000;
}

.active {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.createChatRoomButton {
  width: 100px;
  height: 40px;
  border: 1px solid #E9E9E9;
  background-color: #C9C9C9;
}

.createChatRoomButton:hover {
  border: none;
  background-color: #842622;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #FFFFFF;
}

.chatRoomList {
  list-style-type: none;
  padding: 0;
}

.chatRoom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #E9E9E9;
  width: 500px;
  height: 40px;
  padding: 10px;
}

.chatRoom:hover {
  border: 1px solid #842622;
}

.chatRoomName {
  font-size: 13px;
}

.enterChatRoomButton {
  border: none;
  background-color: #FFFFFF;
  padding: 5px 10px;
  cursor: pointer;
}

.pageButton {
  margin: 4px;
  padding: 4px 8px;

  background: none;
  border: none;

  color: #C9C9C9;
  font-size: 16px;

  cursor: pointer;
}

.activePageButton {
  margin: 4px;
  padding: 4px 8px;

  background: none;
  border: none;

  color: #842622;
  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
}

.tabButtons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 30px;
}

.activeTab,
.inactiveTab {
  padding: 5px 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.activeTab {
  background-color: #842622;
  color: white;
}

.inactiveTab {
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #ccc;
}

.inactiveTab:hover {
  background-color: #e0e0e0;
  color: #111;
}